.vscode
.cache

# Xmake cache
.xmake/
.plan
.cursor
build/

# MacOS Cache
.DS_Store

compile_commands.json

*.log

output

*.ctb

**/.idea
**/__pycache__/
schedule*

/test/EDA_case

.VSCodeCounter/*
.venv/
third_party/cadical/
local/*

test/module_test/test_writer/*